# ESP-IDF Build folder (Huge, do not commit)
build/

#ignore Edge Impulse C++ library
components/

# Editor settings (Optional, but recommended to ignore)
.vscode/
.idea/

# Old configuration backups
sdkconfig.old

# Python cache
__pycache__/

# IDF Component manager
managed_components/
dependencies.lock

# --- Python Specific ---
# Virtual Environments (Crucial!)
venv/
.venv/
env/

# Compiled Python files
*.pyc

# --- OS Specific (Since you are on Windows) ---
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# --- VS Code History ---
.history/